* { 
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  box-sizing: border-box;
}
body {
    background-color: #222;
    color: white;
    font-family: serif;
    max-width: 1024px;
}


/* Menu */
.menu {
    margin:0;
    padding: 0;
    background-color: #333;
    overflow: auto;
    position: fixed;
    float: right;
    width: 100%;
    height:3.3em;
    top: 0;
    left: 0;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
}

.menu a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    height:100%;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 1em;
    transition: 0.2s ease;

}

.menu a:hover {
    background-color: #ddd;
    color: black;
}



.menu a.active {
    background-color: #555;
    color: white;
}

.iconBar{
     
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;

}
/* Navigation Bar */
.sideNav {
    display: none;
    top: 3.3em;
    width: 90%;
    max-width: 250px;
    max-height: 92%;
    z-index: 1;
    background-color: #555;
    opacity: 0.9;
      /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow-y: auto; /* Enable scrolling if the sidenav has too much content */
    left: 0;
}

.sideNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    transition: 0.2s ease;
    text-align: center;
}

.sideNav a:hover {
    background-color: #222;
    color: #999;
    border-color: red;
}
.subSection{
    display: 'none';
}

.subSection a{
    display: 'none';
    background-color: #222;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}

/* END Navigation Bar */


.content {
    word-break: normal;
    height: 90%;
    width:90%;
    max-width: 768px;
    float:left;
    top: 3.3em;
    position: fixed;
    overflow: auto;
    z-index: 0;
}

.warrior{
    font-family: sans-serif;
}

.rogue{
    font-family: sans-serif;
}
.mage{
    font-family: sans-serif;
}


/* unused */

.highlighted {
    /*box-shadow: 0 0 8px #FFD700;*/
    box-shadow: 0 0 8px #000000;
    
    cursor:pointer;
}



/* mobile */
@media only screen and (max-width: 480px) {
    .sideNav{
        width: 100%;
        max-width: 100%;
        position:fixed;
        float:top;
        z-index:1;
    }
    .content {
        padding: 0;
        margin:0;
        width: 97%;
        float:top;
        position: fixed;
        z-index:0;
    }
}

@media only screen and (min-width: 1024px) {
    .content{
        margin-left: 250px;
        transition: margin-left .5s;
        
    }
    .sideNav{
        width: 250px;
        height: 100%;
        position: fixed;
        display:block;
        left:0;
        transition: 0.2s ease;
    }
    .sideNav a{
        display: block;
        transition: 0.2s ease;
    }
    .section, {
        display: block;
    }
    .subSection{
        display: block;
    }
}

